.data-table{ 
    width: 80%;
    border-style: solid 0.5px;
    margin-left: 200px;
    /* border-color: black; */
    background-color: grey;

}
tr,td{
    width: 200px;
    border-style: solid;
    border-color: black;


}



