<h1>Today's Transactions </h1>
<p> market opens at 08h00 and closes at 16h00.</p>
<app-datatable></app-datatable>
<!-- <table>
        <tr class="black">
          <th>BANK</th>
          <th>US DOLLAR</th>
          <th>EURO</th>
          <th>POUND</th>
          <th>JPY</th>
        </tr>
        <tr>
                <td>ABSA</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
        </tr>
        <tr>
                <td>NEDBANK</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
        </tr>
        <tr>
                <td>FNB</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
        </tr>
        <tr>
                <td>STANDARD BANK</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
        </tr>
        <tr>
                <td>BIDVEST BANK</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
        </tr>
       
      </table> -->
<p>Last updated:</p>



        <h3 class="low">Lowest rates</h3>
       
  <span class="dot">USD</span>
  <span class="dot">EURO</span>
  <span class="dot">GBP</span>
  <span class="dot"> JPY</span>



<div>
    
    <h2 class="center">CONVERT</h2>
    <form>
            <input type="text">
            <select>
              <option value="USD">USD</option>
              <option value="EURO">EURO</option>
              <option value="GBP">GBP</option>
              <option value="JPY">JPY</option>
            </select>
            =
            <input type="text">
            <select>
              <option value="ABSA">ABSA</option>
              <option value="FNB">FNB</option>
              <option value="NEDBANK">NEDBANK</option>
              <option value="STANDARDBANK">STANDARD BANK</option>
              <option value="BIDVESTBANK">BIDVEST BANK</option>
            </select>
            <button type="button">BUY NOW</button>
          </form>
        
</div>




