
  
 <h1>FAQ</h1>
<h2 style=color:red;>*NOTE*
 <b><i>RateX works with your system time (clock) for accurate results please make sure your time is correct.</i></b></h2>
 <div>
 <h3>What is RateX?</h3>
 <p>RateX is a desktop application that compares Rand Exchange rates to other currencies from different banks. It helps you save time and data by displaying currency rate information from different banking websites on one application. It will notify you about the changes in the market, and show you the lowest rates from major banks. 
   <i>Install, get rates.</i>
 </p><br>
 <h3>What are the main features of RateX?</h3>
 <ul>
   <li><b>Colour coded indicator</b> indicates an increase or decrease in the exchange rate.</li>
       <li><b>Pop-up notifier</b> gives hourly pop up desktop notification</li>
       <li><b>Exchange rate calculator</b> converts the amount entered in Rands to selcted currency value</li>
       <li><b>History tab</b> shows a summary of previous rates</li>
 </ul><br>
       
 
 <h3>What platforms does RateX run on?</h3>
 <p>RateX is platform independent, it runs on Windows and Mac </p><br>
 <h3>How do I turn on/off the notifications?</h3></div>
 <h3>We would like to hear from you</h3>
 <form>
   First name:<input type="text" name="firstname" placeholder="enter name">
   Email<input type="text" name="email" placeholder= "enter email">
Question<input type="text-area" name="enter Question" placeholder="enter question">
<button type="button" name="submit">SUBMIT</button>


<!-- <app-root></app-root> -->

